<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AzureOpenAISettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <AzureOpenAISettings>
    <add key="GPT45.Endpoint" value="https://yourresource.openai.azure.com/" />
    <add key="GPT45.ApiKeyEnvVar" value="gpt-4.5_APIKEY" />
    <add key="GPT45.DeploymentName" value="gpt-4.5-preview" />

  </AzureOpenAISettings>

  <appSettings>
    <add key="SystemPrompt1" value="Your custom system prompt here" />
    <add key="SystemPrompt2" value="You are an helpful AI assistant that makes best efforts in providing the most accurate and relevant information." />
  </appSettings>
</configuration>
